Repository mosn/mosn, pull requests merged in 2023-05, with the labels that each got.

#2309 make grpc filter support uds
  pkg/filter/network/grpc/factory.go
  pkg/filter/network/grpc/listener.go
  pkg/filter/network/grpc/var.go
Labels: kind/enhancement, area/grpc

#2258 [bugfix] sort addrs in strict dns cluster
  pkg/upstream/cluster/strict_dns_cluster.go
Labels: cla:yes, size/XS

#2241 feature: support init inherit old mosn config function
  pkg/mosn/mosn.go
  pkg/server/handler.go
  pkg/server/handler_test.go
Labels: cla:yes, size/L

#2312 test: add unit-tests for NilMetrics
  pkg/metrics/nilmetrics_test.go
Labels: kind/test

#2308 allow custom proxy use default route handler name
  pkg/filter/network/proxy/factory.go
  pkg/router/types.go
Labels: kind/enhancement, area/router

#2314 [bugfix] xds update panics when cluster with empty hosts tries to stop health check tasks
  pkg/upstream/healthcheck/healthchecker.go
Labels: kind/bug

#2323 feat: fix duration when response error occurred
  pkg/metrics/upstream.go
  pkg/proxy/downstream.go
  pkg/proxy/proxy_downstream_test.go
  pkg/types/upstream.go
  pkg/upstream/cluster/loadbalancer.go
  pkg/upstream/cluster/loadbalancer_test.go
  pkg/upstream/cluster/stats.go
Labels: kind/enhancement, area/loadbalancer
